/build
.gradle
out
/target
!**/src/main/
/src/main/
/src/test/
/*.iml
/.idea/
/*.bat
/*.sh
/*.jar
.gradle/
/bin/
/logs/
/*.log
.gradle/
/wrapper/
/.gradle
**/gradle/wrapper/gradle-wrapper.properties
**/gradle/wrapper/gradle-wrapper.jar
!**/HELP.md
!**/settings.gradle
!.gitignore
